<div class="centered">
<%= form_tag '/search', method: :get do %>
        <%= text_field_tag :term, params[:term], placeholder: 'Search for Game' %>
        <%# submit_tag 'Search' %>
      <% end %>


  <h3>Search results for <%= @term %></h3>
</div>
<div class="container">

  <% if @result.empty? %>
    <p>No match found</p>
  <% else %>
       

    <% @result.each do |game| %>
        <div class="card">
        <% if game.cover %>
       <img src="<%=game.cover.url%>" alt="">      
        <% end  %>
        
       <p class="title"><%=  game.name  %> </p>
        <% if game.release_dates %>
       <p>Released: <%=  game.release_dates[0].y  %> </p>
        <% end  %>
        </div>
    <% end %>

  <% end %>
</div>