<div class="centered">
  <h3>Search results for <%= @term %></h3>
</div>
<div class="container">

  <% if @result.empty? %>
    <p>No match found</p>
  <% else %>
       

    <% @result.each do |game| %>
        <div class="card">
        <% if game.cover %>
        <% @game_cover = game.cover.url %>
       <img src="<%=game.cover.url%>" alt="">      
        <% end  %>

        <p class="add-btn"><%= render partial: 'form' %></p>

       <p class="title clear-fix"><%=  game.name  %> </p>
       <% @game_name = game.name  %>
        <% if game.release_dates %>
        <% @game_date =  game.release_dates[0].y %>
       <p class="clear-fix">Released: <%=  game.release_dates[0].y  %> </p>
        <% end  %>
        </div>
    <% end %>

  <% end %>
</div>