<div class="centered">
  <h3>Search results for <%= @term %></h3>
</div>
<div class="container">

  <% if @result.empty? %>
    <p>No match found</p>
  <% else %>
       

    <% @result.each do |game| %>
       <% @game_name = game.name  %>
       <% if game.release_dates %>
        <% @game_date =  game.release_dates[0].y %>
        <% end %>
        <div class="card">
        <% if game.cover %>
        <% @game_cover = game.cover.url %>
       <img src="<%=game.cover.url%>" alt="">      
        <% end  %>

<% if user_signed_in? %>
<div class="popup">
  <div class="popUp-content">
            <div class="popUp_Border">
                            <span class="close">&times;</span>
                            <p>Game Added!</p>
        </div>
</div>
</div>
        <p class="add-btn"><%= render partial: 'form' %></p>
<% end %>

       <p class="title clear-fix"><%=  game.name  %> </p>
        <% if game.release_dates %>
       <p class="clear-fix">Released: <%=  game.release_dates[0].y  %> </p>
        <% end  %>
        </div>
    <% end %>

  <% end %>
</div>
<script>
    console.log('Test1');

  $('.formButton').click( function () {
    console.log('Test2');
       $('.popup').css('display',"block");
    });
  $('.close').click( function () {
       $('.popup').css('display',"none");
    });
 </script> 