<div class="clear-fix profile-header">
<%= image_tag('header2.gif', style: "height: 40vh; width: 100vw; background-size: contain;", class: 'profile-img') %>
<h2 class="clear-fix username">@<%= @user.username %></h2>
</div>

<div>

<h3 class="cat-name">Currently Playing</h3>

<% @user.games.each do |g|%>

<% if g.category == "current" %>

<div class="game">

<img src="<%= g.cover %>" alt="">
<p><%= best_in_place g, :category, :as => :select, :collection => [['finished', 'Finished'], ['to_play', 'Want to Play'], ['current', 'Currently Playing']] %></p>

<p><%= link_to 'Remove', "/games/#{g.id}", method: "delete" %> <p>

<% end %>

</div>

<% end %>

</div>

<hr class="clear-fix">

<div>

<h3 class="cat-name">Finished</h3>

<% @user.games.each do |g|%>

<% if g.category == "finished" %>

<div class="game">

<img src="<%= g.cover %>" alt="">
<p><%= best_in_place g, :category, :as => :select, :collection => [['finished', 'Finished'], ['to_play', 'Want to Play'], ['current', 'Currently Playing']] %></p>


<p><%= link_to 'Remove', "/games/#{g.id}", method: "delete" %> <p>

<% end %>

</div>

<% end %>

</div>

<hr class="clear-fix">

<div>

<h3 class="cat-name">Want To Play</h3>

<% @user.games.each do |g|%>

<% if g.category == "to_play" %>

<div class="game">

<img src="<%= g.cover %>" alt="">
<p><%= best_in_place g, :category, :as => :select, :collection => [['finished', 'Finished'], ['to_play', 'Want to Play'], ['current', 'Currently Playing']] %></p>


<p><%= link_to 'Remove', "/games/#{g.id}", method: "delete" %> <p>

<% end %>

</div>

<% end %>

</div>

<hr class="clear-fix">
