<!DOCTYPE html>
<html>
  <head>
    <title>GameTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P|VT323" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <% if user_signed_in? %>
  <span><%= link_to 'Home', "/gameup/show" %></span>
  <span><%= link_to 'Profile', "/users/#{current_user.id}" %></span>
<span><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></span>
  <% else %>
  <span><%= link_to 'Log In', new_user_session_path %></span>
<span><%= link_to "Sign Up", new_user_registration_path %></span>
<% end %>
<span class="right-most"><%= form_tag '/search', method: :get do %>
        <%= text_field_tag :term, params[:term], placeholder: '   Search games', class: "search-field" %>
      <% end %> </span>

  </nav>
    <%= yield %>
  </body>
</html>
